#home{
    height: 20px;
    color: white;
    margin-left: 50px;
}


#rectangle{
    margin-top: 50px;
    height: 550px;
    background-color: rgb(165, 160, 160);
    border-radius: 50px;
}

.h1{
    margin-top: 40px;
}

#rectangle1{
    margin-top: 50px;
    height: 250px ;
    background-color:transparent;
    border-radius: 25px;
    border: 1px solid black;
}

.circle{    
    height: 150px;      
    border-radius: 50%;
}