#nav_text{
    color: white;
}


#home{
    height: 20px;
    color: white;
    margin-left: 50px;
}
#nav-list{
    padding-right: 60px;
}

#rectangle{
    margin-top: 10px;
    height: 400px;
    border: 1px solid #C4C4C4;
    background-color: rgb(255, 251, 251);
    border-radius: 25px;
}


.line{
    background-color: black;
    border: 0.5px solid black;
}






